*{
    font-family: Roboto, Helvetica, sans-serif;
}

body{
    margin: 0;
}

.section-1{
    background-color: #1F2937;
    color: white;
    padding: 24px 16px 80px;
    display: flex;
    flex-direction: column;
}

.header-container{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.header{
    display: flex;
    gap: 12px;
    max-width: 1042px;
    flex: 1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-logo{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.top-content{
    display: flex;
    margin: 48px 0px;
    gap: 42px;
    justify-content: center;

}

li, .subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.left{
    flex: 1;
    max-width: 475px;
}

h1{
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.image-placeholder{
    background-color: rgba(169, 169, 169, 0.663);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 525px;
}

.subtext{
    margin-bottom: 8px;
}

button{
    padding: 8px 32px;
    color: white;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 10px;
}

.section-2{
    background-color: white;
}

.section-2 h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 35px;
}

.four-images{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 80px;
}

.one-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stock-image{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.image-subtext{
    width: 150px;
    color: rgb(86, 86, 86);
    text-align: center;
}

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0 100px;
}

.quote{
    max-width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 0;
}

.author{
    margin: 0;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
    margin-right: 45px;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px 10px;
}

.cta-background{
    background-color: #3882F6;
    width: 1042px;
    padding: 40px 60px;
    border-radius: 15px;
    display: flex;
    justify-content:center;
    margin: 0 10px;
}

.cta-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    flex: 1;
}

.cta-title{
    font-size: 24px;
    margin: 0;
}

.cta-left p{
    margin: 0;
}

#bottom{
    border: 2px solid white;
    flex: 0 0 0;
    margin-left: auto;
}

.footer{
    background-color: #1F2937;
}

